.mobile-menu {
  [dir=ltr] & {
    left: auto;
    right: 0;
  }
  
  [dir=rtl] & {
    left: 0;
    right: auto;
  }
  .button_container {
    [dir=ltr] & {
      left: auto;
      right: $horiz-padding;
    }
    
    [dir=rtl] & {
      left: $horiz-padding;
      right: auto;
    }
  }
}

.overlay-menu {
  & > .tree {
    [dir=ltr] & {
    text-align: left;
    }
    
    [dir=rtl] & {
      text-align: right;
    }
  }
}

.treemenu {
  .toggler {
    [dir=ltr] & {
      float: left;
    }
    [dir=rtl] & {
      float: right;
    }
  }
}

.mobile-logo {
  svg, img {
    [dir=ltr] & {
      margin-left: 1.4rem;
      margin-right: auto;
    }
    
    [dir=rtl] & {
      margin-left: auto;
      margin-right: 1.4rem;
    }
  }
}
